body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: whitesmoke;
}
.bosy{
    height: 100vh;
    overflow: hidden;
}
#carouselExampleSlidesOnly{
    position: absolute;
    z-index: -200;
    height: 100vh;
    width: 100vw;
    opacity: 50%;
    overflow: hidden;
}
.for{
    position: absolute;
    background-color: black;
    height: 100vh;
    width: 100vw;
    opacity: 70%;
    z-index: -100;
}
.nav-bar a{
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    font-size: 2.5vh;
    color: white;
}
.active{
    border-bottom: solid 2px;
    border-color: rgba(171,220,255,1);
}
.content{
    /* margin-top: 30vh; */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30vh auto;
    grid-template-areas: 
    "judul"
    "download-button";
    /* justify-content: stretch; */
}
.judulUU{
    grid-area: judul;
    text-align: center;
     font-family: 'Source Sans Pro', sans-serif; 
}
.judulUU h2{
    margin: 0px;
     font-weight: 300;
     font-size: 25px;
     color:  rgba(171,220,255,1);;
}
.judulUU h1{
    margin: 0px;
    text-transform: uppercase;
    font-size: 6vh;
    font-weight: 600;
    color: white;
}
.downloadButton{
    grid-area: download-button;
    text-align: center;
    font-size: 3vh;
}
.downloadButton button{
    width: 33vh;
    height: 8vh;
    font-size: 3vh;
    border-radius: 75px;
    border: none;
    color: white;
     background: linear-gradient(90deg, rgba(47,77,131,1) 0%, rgba(23,141,176,1) 100%);
}
.downloadButton{
    text-decoration: none;
    color:  rgba(171,220,255,1);
}
.content{
    grid-area: deskripsi;
    margin: 0px;
    margin-top: 40px;
}
.judulDeskripsi{
    /* grid-area: deskripsi; */
    text-align: center;
     font-family: 'Source Sans Pro', sans-serif; 
     /* padding-bottom: 50px; */
}
.judulDeskripsi p{
    margin: 0vw 10vw;
    text-align: justify;
}
.nav-bar2 a{
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    font-size: 2.5vh;
    color: rgba(47,77,131,1);
}
#carouselExampleControls{
    grid-area: gambar;
    border-radius: 10px;
    height: 90vh;
    width: 90vw;
    /* justify-content: center; */
    margin: 10px auto;
    box-shadow: 0px 0px 10px;
    overflow: hidden;
}
.deskripsi{
    display: grid;
    grid-template-rows: 1px auto;
    grid-template-areas: 
    "deskripsi"
    "gambar";
}
.list{
    text-align: left;
    padding-left: 20vw;
}
.cool{
    margin-top: 20vh;
}
.dropdown-menu .contact{
    color: white;
}
.dropdown-menu{
    background-color:  #4b4b4b;
    /* opacit: 50%; */
}
/* .contact2{
    background-color: white;
} */
.copyright p{
    color: white;
    font-size: 2.5vh;
    position: absolute;
    left: 50%;
    transform: translateX(-10vh);
    bottom: 10px;
    margin: 0px;
}